
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

*{
    font-family: Saira,sans-serif;
}

@theme{
    --color-primary:#c41e3a;
    --color-secondary:#f8f0e3;
    --color-accent:#1e3a8a;
    --color-dark:#1f2937;
  
}